@font-face {
  src: url(/MyCodes/fonts/andika/Andika-Regular.ttf);
  font-family: customFont; }

@font-face {
  src: url(/MyCodes/fonts/josefin-sans/JosefinSans-Light.ttf);
  font-family: customFontThin; }

@keyframes blinks {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }

* {
  box-sizing: border-box;
  font-family: customFont;
  border: 0;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0; }

.active-nav {
  fill: #32c766 !important;
  fill-opacity: 1 !important;
  stroke-width: 2;
  stroke: #32c766 !important; }

#navigation {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  padding-left: 20px; }
  #navigation ul li {
    list-style: none; }
    #navigation ul li a {
      display: block;
      width: 30px;
      height: 30px;
      outline: none; }
      #navigation ul li a svg {
        height: 30px;
        width: 30px;
        transform: scale(0.75); }
        #navigation ul li a svg circle {
          stroke-width: 2;
          fill-opacity: 0;
          stroke: white; }
      #navigation ul li a:socialIcons svg path {
        stroke: white;
        fill: white; }
    #navigation ul li a.socialIcons {
      width: 40px;
      height: 40px; }
      #navigation ul li a.socialIcons svg {
        width: 40px;
        height: 40px; }
        #navigation ul li a.socialIcons svg path {
          stroke: white;
          fill: white; }
      #navigation ul li a.socialIcons:hover svg path {
        stroke: #32c766;
        fill: #32c766; }

.page {
  color: #FFFFFF; }
  .page .graph .igc-tabs .igc-tab .igc-tab-content,
  .page .graph .igc-tabs .igc-tab.icon-down,
  .page .graph .igc-tabs .igc-tab,
  .page .graph .igc-tab-switcher {
    color: white !important; }

.page-1 {
  height: 100%;
  width: 100%;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding: 80px 160px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.92479) 0%, rgba(0, 0, 0, 0.84916) 69%, rgba(0, 0, 0, 0.737115) 100%), url(../images/Wallpaper-Hd-For-Desktop-Backgrounds-Plain-Plane-Background-Images-Damask.jpg); }
  .page-1 .logo {
    position: absolute;
    background: url("../images/SVGs/MohanLogo.svg");
    background-repeat: no-repeat;
    width: 300px;
    height: 55px;
    background-size: 100%;
    transform: rotate(-1deg);
    /* image is slightly tilted */ }
  .page-1 h1 {
    position: absolute;
    font-weight: 200;
    top: 50vh;
    font-size: 64px;
    max-width: 550px;
    line-height: 70px;
    font-family: customFontThin;
    text-shadow: 4px 4px 2px rgba(3, 3, 3, 0.82); }

.sticky {
  position: fixed !important; }

.page-2 {
  max-height: 1200px;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(90deg, rgba(55, 233, 117, 0.742717) 0%, rgba(64, 193, 90, 0.779132) 69%, rgba(0, 0, 0, 0.737115) 100%), url(../images/green.jpg);
  padding: 160px; }
  .page-2 #sticky-logo {
    position: absolute;
    background: url("../images/SVGs/MohanLogo.svg");
    background-repeat: no-repeat;
    width: 240px;
    height: 45px;
    background-size: 100%;
    transform: rotate(-1deg);
    right: 50px;
    top: 50px; }
  .page-2 .subPage {
    max-width: 550px; }
    .page-2 .subPage p {
      font-family: customFontThin;
      font-size: 1.1em; }
    .page-2 .subPage h2 {
      margin: 40px 0px;
      font-size: 2.3em;
      word-spacing: 1px;
      letter-spacing: 2px;
      color: #FFFFFF;
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
      .page-2 .subPage h2:after {
        content: "\258D";
        color: #32c766;
        animation: 1.5s blinks infinite;
        margin-left: 2px;
        font-size: 1.0em; }

.page-3 {
  height: 100%;
  width: 100%;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto !important;
  max-height: 1200px;
  padding: 160px;
  background: linear-gradient(90deg, #020024 0%, rgba(0, 78, 94, 0.333754) 100%), url(../images/877212.jpg); }
  .page-3 div {
    width: 550px; }
    .page-3 div table tr td,
    .page-3 div table tr p {
      font-family: customFontThin;
      font-size: 1.0em; }
    .page-3 div table tr p:first-child {
      font-weight: bold; }
    .page-3 div table tr p:hover {
      text-decoration: underline; }
    .page-3 div table tr td {
      line-height: 1.6em; }
    .page-3 div table tr td:first-child {
      padding-right: 5px;
      vertical-align: top;
      font-weight: bold; }
    .page-3 div h2 {
      margin: 40px 0px;
      font-size: 2.3em;
      word-spacing: 1px;
      letter-spacing: 2px;
      color: #FFFFFF;
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
      .page-3 div h2:after {
        content: "\258D";
        color: #32c766;
        animation: 1.5s blinks infinite;
        margin-left: 2px;
        font-size: 1.0em; }

.page-4 {
  background-color: #39424e;
  padding: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .page-4 > .subPage {
    width: 50%;
    padding-right: 8%; }
    .page-4 > .subPage > div {
      max-width: 550px;
      padding-bottom: 60px; }
      .page-4 > .subPage > div p {
        font-family: customFontThin;
        font-size: 1.1em; }
    .page-4 > .subPage h2 {
      margin: 40px 0px;
      font-size: 2.3em;
      word-spacing: 1px;
      letter-spacing: 2px;
      color: #FFFFFF;
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
      .page-4 > .subPage h2:after {
        content: "\258D";
        color: #32c766;
        animation: 1.5s blinks infinite;
        margin-left: 2px;
        font-size: 1.0em; }
    .page-4 > .subPage .graph {
      padding-top: 60px; }

.page-5 {
  background-color: #2e353e;
  padding: 160px; }
  .page-5 > .subPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px; }
    .page-5 > .subPage .row {
      width: 100%; }
    .page-5 > .subPage .row-1 {
      margin-bottom: 50px; }
      .page-5 > .subPage .row-1 h2 {
        margin: 40px 0px;
        font-size: 2.3em;
        word-spacing: 1px;
        letter-spacing: 2px;
        color: #FFFFFF;
        line-height: 1.5;
        text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
        .page-5 > .subPage .row-1 h2:after {
          content: "\258D";
          color: #32c766;
          animation: 1.5s blinks infinite;
          margin-left: 2px;
          font-size: 1.0em; }
      .page-5 > .subPage .row-1 p {
        font-family: customFontThin;
        font-size: 1.1em; }
      .page-5 > .subPage .row-1 h3 {
        margin: 40px 0px;
        font-size: 1.2em; }
    .page-5 > .subPage .column {
      display: flex;
      flex-direction: row; }
      .page-5 > .subPage .column p {
        font-family: customFontThin;
        font-size: 1.1em; }
    .page-5 > .subPage .graph {
      height: 550px; }
    .page-5 > .subPage .column-1,
    .page-5 > .subPage .column-2 {
      width: 50%;
      padding-right: 8%;
      padding-top: 30px; }

.page-6 {
  background-color: #0093e2;
  padding: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .page-6 > .subPage {
    width: 50%;
    padding-right: 8%; }
    .page-6 > .subPage h2 {
      margin: 40px 0px;
      font-size: 2.3em;
      word-spacing: 1px;
      letter-spacing: 2px;
      color: #FFFFFF;
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
      .page-6 > .subPage h2:after {
        content: "\258D";
        color: #32c766;
        animation: 1.5s blinks infinite;
        margin-left: 2px;
        font-size: 1.0em; }
    .page-6 > .subPage h3 {
      margin: 40px 0px;
      font-size: 1.2em; }
    .page-6 > .subPage > div {
      max-width: 550px;
      padding-bottom: 60px; }
      .page-6 > .subPage > div p {
        font-family: customFontThin;
        font-size: 1.1em; }
  .page-6 .table-data {
    overflow-x: auto; }
    .page-6 .table-data table {
      width: 100%; }
      .page-6 .table-data table tr td {
        text-align: right;
        width: 80px;
        padding: 5px;
        vertical-align: middle; }
      .page-6 .table-data table tr:nth-child(even) {
        background-color: #0779c4; }

.page-7 {
  background-color: #1f3d83;
  padding: 160px; }
  .page-7 > .subPage:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px; }
    .page-7 > .subPage:nth-child(1) .row {
      width: 100%; }
    .page-7 > .subPage:nth-child(1) .row-1 {
      margin-bottom: 50px; }
      .page-7 > .subPage:nth-child(1) .row-1 h2 {
        margin: 40px 0px;
        font-size: 2.3em;
        word-spacing: 1px;
        letter-spacing: 2px;
        color: #FFFFFF;
        line-height: 1.5;
        text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
        .page-7 > .subPage:nth-child(1) .row-1 h2:after {
          content: "\258D";
          color: #32c766;
          animation: 1.5s blinks infinite;
          margin-left: 2px;
          font-size: 1.0em; }
      .page-7 > .subPage:nth-child(1) .row-1 p {
        font-family: customFontThin;
        font-size: 1.1em; }
      .page-7 > .subPage:nth-child(1) .row-1 h3 {
        margin: 40px 0px;
        font-size: 1.2em; }
    .page-7 > .subPage:nth-child(1) .column {
      display: flex;
      flex-direction: row; }
      .page-7 > .subPage:nth-child(1) .column p {
        font-family: customFontThin;
        font-size: 1.1em; }
    .page-7 > .subPage:nth-child(1) .graph {
      height: 400px; }
    .page-7 > .subPage:nth-child(1) .column-1,
    .page-7 > .subPage:nth-child(1) .column-2 {
      width: 50%;
      padding-right: 8%;
      padding-top: 30px; }
  .page-7 > .subPage:nth-child(2) {
    width: 100%;
    display: flex; }
    .page-7 > .subPage:nth-child(2) .column {
      width: 50%;
      padding-right: 8%;
      padding-top: 30px; }
      .page-7 > .subPage:nth-child(2) .column p {
        font-family: customFontThin;
        font-size: 1.1em; }
      .page-7 > .subPage:nth-child(2) .column h2 {
        margin: 40px 0px;
        font-size: 2.3em;
        word-spacing: 1px;
        letter-spacing: 2px;
        color: #FFFFFF;
        line-height: 1.5;
        text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
        .page-7 > .subPage:nth-child(2) .column h2:after {
          content: "\258D";
          color: #32c766;
          animation: 1.5s blinks infinite;
          margin-left: 2px;
          font-size: 1.0em; }
      .page-7 > .subPage:nth-child(2) .column .graph {
        padding-top: 60px; }

.page-8 {
  background-color: #39424e;
  padding: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .page-8 > .subPage {
    width: 50%;
    padding-right: 8%; }
    .page-8 > .subPage h2 {
      margin: 40px 0px;
      font-size: 2.3em;
      word-spacing: 1px;
      letter-spacing: 2px;
      color: #FFFFFF;
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
      .page-8 > .subPage h2:after {
        content: "\258D";
        color: #32c766;
        animation: 1.5s blinks infinite;
        margin-left: 2px;
        font-size: 1.0em; }
    .page-8 > .subPage h3 {
      margin: 40px 0px;
      font-size: 1.2em; }
    .page-8 > .subPage .methodology-cotent {
      max-width: 550px;
      padding-bottom: 60px; }
      .page-8 > .subPage .methodology-cotent p {
        font-family: customFontThin;
        font-size: 1.1em; }
    .page-8 > .subPage .types {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; }
      .page-8 > .subPage .types > div {
        width: 50%;
        font-size: 1.0em;
        line-height: 1.151em; }
        .page-8 > .subPage .types > div a {
          display: block;
          margin: 0 20px 20px 0;
          height: 140px;
          padding: 50px 20px 20px 20px;
          text-decoration: none;
          color: white;
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.33), 0 5px 8px 0 rgba(0, 0, 0, 0.37), 0 1px 14px 0 rgba(0, 0, 0, 0.11); }
      .page-8 > .subPage .types .type-1 a {
        background-color: #FFA000; }
      .page-8 > .subPage .types .type-2 a {
        background-color: #FF5252; }
      .page-8 > .subPage .types .type-3 a {
        background-color: #388E3C; }
      .page-8 > .subPage .types .type-4 a {
        background-color: #E040FB; }

.page-9 {
  background-color: #39424e;
  padding: 80px 160px;
  padding-bottom: 0 !important;
  background-color: #0e141e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .page-9 > .subPage {
    width: 50%;
    padding-right: 8%;
    padding-bottom: 20px; }
    .page-9 > .subPage > div {
      max-width: 550px; }
      .page-9 > .subPage > div p {
        font-family: customFontThin;
        font-size: 1.1em; }
    .page-9 > .subPage h2 {
      margin: 40px 0px;
      font-size: 2.3em;
      word-spacing: 1px;
      letter-spacing: 2px;
      color: #FFFFFF;
      line-height: 1.5;
      text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.82); }
      .page-9 > .subPage h2:after {
        content: "\258D";
        color: #32c766;
        animation: 1.5s blinks infinite;
        margin-left: 2px;
        font-size: 1.0em; }
  .page-9 > .subPage:nth-child(1) {
    height: 160px; }
    .page-9 > .subPage:nth-child(1) .logo {
      position: absolute;
      background: url("../images/SVGs/MohanLogo.svg");
      background-repeat: no-repeat;
      width: 300px;
      height: 55px;
      background-size: 100%;
      transform: rotate(-1deg);
      /* image is slightly tilted */
      width: 200px;
      height: 40px; }
    .page-9 > .subPage:nth-child(1) .personal-info {
      font-family: customFont;
      position: absolute;
      margin-top: 60px;
      width: 80%; }
      .page-9 > .subPage:nth-child(1) .personal-info h6,
      .page-9 > .subPage:nth-child(1) .personal-info em {
        font-family: customFontThin;
        font-size: 1.1em;
        font-style: normal;
        line-height: 1.7em; }
  .page-9 .copyright {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .page-9 .copyright > div {
      display: inline-block; }
      .page-9 .copyright > div > svg {
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle; }
        .page-9 .copyright > div > svg path {
          fill: #32c766; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .logo {
    width: 200px;
    height: 40px; }
  #navigation {
    padding-left: 0px !important; }
  .page {
    padding: 20px 20px 20px 45px; }
    .page .subPage {
      width: 100% !important;
      padding-right: 0px !important; }
      .page .subPage h2 {
        font-size: 1.6em !important;
        word-spacing: 0px !important;
        letter-spacing: 0px !important;
        line-height: 1.4 !important; }
      .page .subPage .column {
        width: 100% !important;
        padding-right: 0px !important;
        padding-top: 10px;
        margin-bottom: 10px; }
    .page .graph {
      display: none !important; }
  .page-1 .logo,
  .page-9 .logo {
    width: 170px;
    height: 40px; }
  .page-1 h1 {
    font-size: 40px;
    max-width: 550px;
    line-height: 45px; }
  .page-2 #sticky-logo {
    width: 175px;
    height: 35px;
    right: 10px;
    top: 10px; }
  .page-7 .column-2 {
    display: none; }
  .page-8 > .subPage .types > div {
    width: 100% !important; }
    .page-8 > .subPage .types > div a {
      height: auto;
      padding: 20px; } }

/* Large devices (laptops/desktops/ipads) */
@media only screen and (max-width: 992px) and (min-width: 769px) {
  .page {
    padding: 80px; }
    .page .subPage {
      width: 100% !important;
      padding-right: 0px !important; } }

/* Extra large devices (large laptops and desktops) */
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .page {
    padding: 80px; }
    .page .subPage {
      padding-right: 0px/1.1; } }
