$color-background-grey:#E3E8E9;
* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif !important;
    background-color: $color-background-grey !important;
}

p {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.mask-container {
    #mask-image {
        width: 250px;
        margin: 10px auto;
        border: 1px solid #93939331;
        border-radius: 50px;
        background-color: hsla(0, 0%, 0%, .02);
        box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .1), 0 1px 2px hsla(0, 0%, 100%, .3);
    }
    #mask-image i {
        display: inline-block;
        width: 250px;
        height: 230px;
        cursor: pointer;
        background-image: radial-gradient(ellipse at center, rgba(106, 0, 255, 0.9) 0%, rgba(0, 128, 128, 1) 100%);
        mask-image: url('../images/SVGs/face-1.svg'), url('../images/SVGs/face-2.svg');
        mask-position: 0 0, 0 12px;
        transition: mask-position .5s ease-in-out;
    }
    #mask-image:hover i {
        background-image: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(145, 0, 0, 1) 100%);
        mask-position: 0 0, 0 0px;
        transition: mask-position .1s ease-in-out;
    }
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    perspective: 600px;
    perspective-origin: 180% -50%;
    transform-style: preserve-3d;
    transition: all .5s ease-in-out;
    .face {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 11em;
        border-radius: 5px; // variable
        $translateZ: 100px;
        &.front {
            // 1
            transform: translateZ($translateZ);
            background-color: rgba(128, 128, 128, 0.551);
        }
        &.back {
            // 2
            transform: rotateY(-180deg) translateZ($translateZ);
            background-color: rgba(76, 230, 146, 0.61);
        }
        &.right {
            // 3
            background-color: rgba(255, 0, 0, 0.448);
            transform: rotateY(90deg) translateZ($translateZ)
        }
        &.left {
            // 4
            background-color: rgba(0, 60, 255, 0.61);
            transform: rotateY(-90deg) translateZ($translateZ)
        }
        &.top {
            // 5
            background-color: rgba(30, 255, 240, 0.61);
            transform: rotateX(90deg) translateZ($translateZ)
        }
        &.bottom {
            // 6
            background-color: rgba(255, 0, 195, 0.61);
            transform: rotateX(-90deg) translateZ($translateZ)
        }
    }
    &:hover {
        width: 250px;
        height: 250px; // transform: rotateY(180deg);
    }
}

.quote {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 10px auto; // background-color: #2112ff;
    perspective: 2000px;
    transform-style: preserve-3d;
    transition: .3s;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-top: 20px solid white;
        border-left: 20px solid white;
        background: transparent;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-bottom: 20px solid white;
        border-right: 20px solid white;
        background: transparent;
    }
    .quoteImage {
        width: 80px;
        height: 80px;
        background-color: white;
        padding: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .text {
        position: absolute;
        top: 40px;
        left: -30px;
        width: calc(100% + 60px);
        height: calc(100% - 60px);
        color: white;
        background-color: #212121;
        transition: .3s;
        .textImage {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            background-color: white;
            padding: 10px;
        }
        >div {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 40px 80px;
            text-align: center;
            transform: translateY(-50%);
        }
    } // hover
    &:hover {
        transform: rotateY(-30deg) skewY(5deg);
    }
    &:hover .text {
        transform: rotateY(30deg) skewY(-5deg);
    }
}

// 
@mixin animationLoop($numberOfItems) {
    @for $i from 0 through $numberOfItems {
        &.text-ani-#{$i} {
            animation: slideFromDown 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) $i * (.05s) forwards;
        }
    }
}

@keyframes slideFromDown {
    to {
        transform: translateY(0em);
    }
}

.scrollTextAnimation {
    .page-ani {
        position: relative;
        height: 100vh;
        .textAnimateParent {
            position: absolute;
            width: 100%;
            text-align: center;
            left: 50%;
            top: 50%;
            overflow: hidden;
            transform: translate(-50%, -50%);
            .text-ani {
                display: inline-block;
                font-size: 6em;
                transform: translateY(1.2em);
            }
        }
    }
    .page-ani-1 {
        .textAnimateParent.active {
            .text-ani {
                @include animationLoop(8);
            }
        }
    }
    .page-ani-2 {
        background-color: rgb(137, 137, 255);
        .textAnimateParent.active {
            .text-ani {
                @include animationLoop(13);
            }
        }
    }
}

.img-overlay-parent {
    position: relative;
    height: 50vh;
    margin: 4px;
    background-image: url(../images/page-A-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    .img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
        transform: skew(-30deg) scale(1.5);
        background-color: rgba(59, 59, 251, 0.347);
        transition: left .3s ease-in-out;
    }
    &:hover .img-overlay {
        left: 100%;
    }
}