:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(148, 12, 12, 0.575);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(0, 9, 87, 0.445);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

* {
    transition: ease-in-out 0.2s;
}

body {
    background: #E8EAF6;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-container {
    max-width: 1200px !important;
    margin: 0 auto;
}

header {
    background: #000;
    height: 60px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 6px;
    width: 120px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 60px;
    list-style: none;
}

nav ul li {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
}

nav ul li a {
    font-size: 17px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: all ease-in-out 0.15s;
}

nav a:hover {
    /* color: #1A237E; */
    cursor: pointer;
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    transition: all ease-in-out 0.15s;
}

nav a:hover::before {
    width: 100%;
}

nav ul .active a::before {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    transition: all ease-in-out 0.15s;
}

nav ul .active a {
    font-weight: 400;
}

nav ul .active a:hover {
    color: #fff;
}

/* main-page */

/*  */

.btn {
    display: block;
    color: white;
    height: 30px;
    width: 15rem;
    padding-top: 1.1rem;
    text-align: center;
    border: #fff solid .2rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: white;
}

/* page landing */

.page-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--container-bg-color);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split h1 {
    color: white;
    font-size: 4em;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    white-space: nowrap;
    /* should not go to next line, even if it wont fits */
}

.split .button {
    display: block;
    color: white;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    height: 2.2rem;
    width: 15rem;
    padding-top: 1.1rem;
    text-align: center;
    border: #fff solid .2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.split.left {
    left: 0;
    background: url(../jerry/images/ironman-3.jpg) center center no-repeat;
    background-size: cover;
}

.split.left:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url(../jerry/images/main-image1.jpg) bottom center no-repeat;
    background-size: cover;
}

.split.right:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--right-bg-color);
}

.split.left,
.split.right,
.split.right:before,
.split.left:before {
    transition: var(--speed) all .3s;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-left .right:before {
    z-index: 2;
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left:before {
    z-index: 2;
}

.main-contanier {
    max-width: 1200px !important;
    margin: 10px auto;
}

.movies {
    display: flex;
    justify-content: space-evenly;
}

.image-container {
    width: 280px;
    height: 420px;
    overflow: hidden;
    position: relative;
    background-color: #3F51B5;
}

.image-container>img {
    position: absolute;
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
}

.image-container:hover img {
    transform: scale(1.1) rotate(1deg);
}

/* footer */

footer {
    background-color: #000;
}

.sub-footer {
    color: white;
    display: flex;
    padding: 20px 0;
}

.sub-footer .sub-footer-image {
    width: 50%;
    background-color: #000;
}

.sub-footer .sub-footer-text {
    font-family: DINNextW01-CondensedMed, Trebuchet MS, Helvetica, Arial, sans-serif;
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.sub-footer .sub-footer-text .eyebrow {
    margin: 20px 0;
    font-weight: 900;
    color: #eb2328;
    letter-spacing: 3px;
}

.sub-footer .sub-footer-text .title {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 10px;
}

.sub-footer .sub-footer-text .legal {
    letter-spacing: 1px;
    margin: 50px 0px;
}